@using SistemaPacientes.Core.Application.ViewModels.User;
@model UserSaveViewModel;
@{
    ViewData["Title"] = "Delete Usuario";
}

<div class="row">

    <div class="col-6 offset-3">
        <div class="card">
            <div class="card-header bg-danger text-light">
                <h4>Esta seguro que desea eliminar el usuario @Model.Nombre?</h4>
            </div>
            <div class="card-body">

                <form method="post" asp-controller="Usuario" asp-action="DeletePost">

                    <input type="hidden" asp-for="Id" />

                    <button type="submit" class="btn btn-danger">Eliminar</button>
                    <a asp-controller="Usuario" asp-action="GetAll" class="btn btn-warning">Cancelar</a>

                </form>

            </div>
        </div>
    </div>

</div>