﻿@using SistemaPacientes.Core.Application.ViewModels.User;
@model UserSaveViewModel;
@{
    ViewData["Title"] = "Registrarme";
}
@if (Model.Roles == null || Model.Roles.Count == 0)
{
    <div class="alert alert-warning">
        <p>No hay roles creadas</p>
        <a asp-controller="Usuario" asp-action="Index" class="btn btn-primary">Volver atras</a>
    </div>
}
<section class=" vh-100">
    <div class="container-fluid h-custom p-3">
        <div class="shadow-lg p-3 mb-3 bg-body-tertiary rounded row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-9 col-lg-6 col-xl-5">
                <div class="row mb-4">
                    <div class="col">
                        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                    </div>

                </div>

                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                     class="img-fluid" alt="Sample image">
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">

                <form method="post" asp-controller="Usuario" asp-action="Register">
                    <div class="row mb-4">
                        <div class="col">
                            <div class="form-outline mb-3">
                                <input asp-for="Nombre" class="form-control form-control-lg" placeholder="Nombre" />

                            </div>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col">
                            <div class="form-outline mb-3">
                                <input asp-for="Email" class="form-control form-control-lg" placeholder="Correo" />
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-outline mb-3">
                                <input asp-for="Phone" class="form-control form-control-lg" placeholder="Telefono" />
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <select asp-for="RoleId" asp-items="@(new SelectList(Model.Roles,"Id","Name"))" class="form-control form-control-lg">
                            <option value="0">-- Select a role --</option>
                        </select>
                        <span asp-validation-for="RoleId" class="text-danger"></span>
                    </div>

                    <div class="row mb-4">
                        <div class="col">
                            <div class="form-outline mb-3">
                                <input asp-for="UserName" class="form-control form-control-lg" placeholder="Usuario" />
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-outline mb-3">
                                <input asp-for="Password" class="form-control form-control-lg" placeholder="Contraseña" />
                            </div>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col">
                            <div class="form-outline mb-3">
                                <input asp-for="ConfirmPassword" class="form-control form-control-lg" placeholder="Confirmar Contraseña" />
                            </div>
                        </div>
                    </div>

                    <div class="text-center text-lg-start mt-4 pt-2">
                        <button class="btn btn-primary btn-lg"
                                style="padding-left: 2.5rem; padding-right: 2.5rem;">
                            Register
                        </button>
                        <p class="small fw-bold mt-2 pt-1 mb-0">
                            I have an account <a asp-controller="Usuario" asp-action="Index" class="link-danger">Login</a>
                        </p>
                    </div>


                </form>
            </div>
        </div>

    </div>


</section>