﻿@using Microsoft.AspNetCore.Http;
@using SistemaPacientes.Core.Application.Helpers;
@using SistemaPacientes.Core.Application.ViewModels.User;
@inject IHttpContextAccessor httpContext;
@{
    UserViewModel user = httpContext.HttpContext.Session.Get<UserViewModel>("user");
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SistemaPacientes</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/fontawesome-free-6.4.2-web/css/all.css" />
</head>
<body>
    <div class="wrapper">
        <!-- Sidebar -->
        <aside id="sidebar">
            <div class="h-100 bg-dark">
                <div class="sidebar-logo">
                    <img class="bi mt-4 mb-3" src="~/image/Logo.png" width="50" height="50">
                    <a asp-controller="Home" asp-action="Index" class="text-white fw-bold"><h5>Sistema de Hospital</h5></a>


                </div>
                <!-- Sidebar Navigation -->
                <ul class="sidebar-nav">
                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link">
                            <i class="fa-solid fa-house pe-2"></i>
                            Home
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a asp-controller="Medico" asp-action="Index" class="sidebar-link">
                            <i class="fa-solid fa-user-doctor pe-2"></i>
                             Medicos
                        </a>
@*                         <ul id="pages" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                            <li class="sidebar-item">
                                <a href="#" class="sidebar-link">Analytics</a>
                            </li>
                            <li class="sidebar-item">
                                <a href="#" class="sidebar-link">Ecommerce</a>
                            </li>
                            <li class="sidebar-item">
                                <a href="#" class="sidebar-link">Crypto</a>
                            </li>
                        </ul> *@
                    </li>
                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link collapsed">
                            <i class="fa-solid fa-user pe-2"></i>
                            Pacientes
                        </a>
                    </li>
                </ul>
            </div>
        </aside>
        <!-- Main Component -->
        <div class="main">
            <nav class="navbar navbar-expand px-3 border-bottom bg-dark">
                <!-- Button for sidebar toggle -->
                <button class="btn" type="button" data-bs-theme="dark">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </nav>
            <main class="content px-3 py-2">
                <div class="container-fluid">
                    <div class="mb-3">
                        @RenderBody();
                    </div>
                </div>
            </main>
        </div>
    </div>



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
