@using SistemaPacientes.Core.Application.ViewModels.Medico;
@model MedicoSaveViewModel;
@{
    bool editMode = Model.Id == 0 ? false : true;
    ViewData["Title"] = editMode ? "Edit Medico" : "Add Medico";
}

<div class="container">
  <main>
    <div class="py-5 text-center">
      <img class="d-block mx-auto mb-4" src="~/image/Logo.png" alt="" width="72" height="72">
      <h2>Creando Medico</h2>
      <p class="lead">Below is an example form built entirely with Bootstrap’s form controls. Each required form group has a validation state that can be triggered by attempting to submit the form without completing it.</p>
    </div>

    <div class="row g-5">
      <div class="col-md-5 col-lg-4 order-md-last">
   
                <img src="~/image/Logo.png" class="rounded mx-auto d-block" alt="...">
      </div>
      <div class="col-md-7 col-lg-8">
        <h4 class="mb-3">Billing address</h4>
                <form class="needs-validation" asp-controller="Medico" asp-action="@(editMode ? "Edit" : "Create")" novalidate="" enctype="multipart/form-data">
          <div class="row g-3">
            <div class="col-sm-6">
              <label asp-for="Nombre" class="form-label">Nombre</label>
              <input class="form-control" asp-for="Nombre" placeholder="">
                            <span asp-validation-for="Nombre" class="text-danger"></span>

            </div>

            <div class="col-sm-6">
              <label asp-for="Apellido" class="form-label">Apellido</label>
              <input type="text" class="form-control" asp-for="Apellido" placeholder="">
                            <span asp-validation-for="Apellido" class="text-danger"></span>

            </div>

            <div class="col-12">
              <label asp-for="Correo" for="Correo" class="form-label">Correo</label>
                <input  class="form-control" asp-for="Correo" id="Correo" placeholder="example@gmail.com">
                                <span asp-validation-for="Correo" class="text-danger"></span>
            </div>

                        <div class="col-12">
                            <label asp-for="Telefono" class="form-label" for="Telefono">Telefono</label>
                            <input asp-for="Telefono" class="form-control" id="Telefono" placeholder="809-000-9999">
                            <span asp-validation-for="Telefono" class="text-danger"></span>
                        </div>


            <div class="col-12">
              <label asp-for="Cedula" for="cedula" class="form-label">Cedula</label>
              <input asp-for="Cedula" class="form-control" id="cedula" placeholder="402-0000290-0" required="">
                            <span asp-validation-for="Cedula" class="text-danger"></span>
            </div>


                        <div class="col-12">
                            @if(editMode){
                                <input asp-for="File" class="form-control">
                            }
                            else
                            {
                                <input required asp-for="File" class="form-control" >
                            }
                        </div>

            
          <hr class="my-4">

          <button class="w-100 btn btn-primary btn-lg" type="submit">Continue to checkout</button>
        </form>
      </div>
    </div>
  </main>
</div>